name: Deploy to Hetzner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            # Шлях до папки з вашим проектом на сервері
            cd /var/www/cardssitebs
            
            # Оновлюємо код
            git pull origin main
            
            # Встановлюємо залежності та білдимо фронтенд
            npm install
            npm run build
            
            # Встановлюємо залежності для бекенду
            cd backend
            npm install
            npx prisma generate
            
            # Перезапускаємо сервер через PM2 (назва процесу має бути "backend" або інша, яку ви використовуєте)
            pm2 restart backend || pm2 start server.js --name "backend"
